node_modules
.yarn/cache
.yarn/install-state.gz
.pnp.*
.env
.env.*
apps/**/node_modules
apps/backend/data
apps/backend/.tmp
apps/backend/build
apps/backend/public/uploads/*
!apps/backend/public/uploads/.gitkeep
apps/frontend/.next
apps/frontend/out
